html {
    font-size: 10pt;

}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p, li, button {
    font-size: 1.6rem;
}

#canvasShapes, #canvasTest
{

    border: 1px solid black;
}

canvas.shape {
    display: inline-block; border: 1px solid black;
}

table.examples {
    width: 100%;
    font-size: 1.6rem;
    
}

table.examples td {
    text-align: center;
}

#progress {
    position: relative;
    height: 32px;

    overflow: hidden;
    margin-top: 10px;
}

#progress > div {
    position: absolute;
    width: 100%;
    height: 32px;
    left: -100%;
    background: #e200e6;
}

.l-container {
    width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.l-container__child {
    width: 512px;
}

.c-labels {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-labels__label {
    display: inline-block;
    padding: 5px;
}

.trainbg {
    background: #fed6ff;
    border: 1px solid #fd7aff;
    padding: 10px;
    border-radius: 25px;
}

.testbg {

    padding: 10px;
}