html {
    font-size: 10pt;

}

p, li, button {
    font-size: 1.6rem;
}

#canvasShapes
{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

canvas.shape {
    display: block; border: 1px solid black;
}

li.example {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}
